// Colors
$main-background: #f2f2f2;
$grey: #333333;
$light-grey: #d3d3d3;
$dark-grey: #a9a9a9;
$darkest-grey: #2f4f4f;

// Navigation colors
$nav-background: $grey;
$nav-text-color: white;


// Dimensions
$border-width: 1px;
$border-color: #DFDFDF;
$margin: 10px;

//fonts
$navFont: Arial;
