.centers {
  max-width: 30%;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}

.back {
  background-color: black;
}

.contentPadding {
  padding-top: 6rem;
}
