// .container {
//   display: flex;
//   flex-direction: row;
//   min-height: 100%;
//   //margin-top: $margin;
//   //position: relative;
//   // padding-left: 10%;
//   // padding-top: 50%;
//   // padding-right: 10%;
// }

.background-grey {
  background: $main-background;
}

.container {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  margin-top: $margin;
}

div .pushable .holoture-sidebar {
  position: absolute !important;
}

.pushable {
  overflow: visible !important;
}

.sidebarFilter{
  background-color: $nav-background!important;
  font-family: $navFont;
  text-decoration: $nav-background;
}
