.top-bar, .top-bar ul {
	background-color: $nav-background;
}
.top-bar-left {
	padding-top: 10px;
	padding-left: 15px;
}
.topbar-right{
	padding-top: 10px;
	padding-right: 10px;
}
.top-bar {
	.menu-text {
		color: $nav-text-color;
		font: $navFont
	}

	.menu > .menu-text > a {
		display: inline;
		padding: 0;
	}

	.active-link {
		font-weight: bold;
	}

	.inverted {
		filter: invert(100%);
	}
}
