.row {
  display: flex;
  flex-direction: row;
  border-bottom: solid;
  border-width: $border-width;
  border-color: $border-color;
  min-width: 100%;
  cursor: pointer;
  vertical-align: middle;
  max-height: 125px;
  background: white;
  &:hover {
    background-color: $light-grey;
  }
}

.selected-row {
  @extend .row;
  background-color: $dark-grey;
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  //border-right: solid;
  border-width: $border-width;
  padding: 10px;
}


.product-card{
  margin: 0 0 2em;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #DFDFDF;
  position: relative;
  vertical-align: top;
  display: inline-block;
  //  width: 200px;
    text-align: center;
}

.row-title {
  text-align: left;
  padding-left: 10px;
  padding-right: 5px;
  margin-bottom: auto;
}

.row-description {
  @extend .row-title;
  color: $darkest-grey;
  font-size: .88em;
}
