.image {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  //border-right: solid;
  border-width: $border-width;
  //padding: 0 10px 10px 10px;
  display: block;
  //margin: auto;
}

.modalContent{
  background-color: #fff !important;
  overflow: hidden;
  text-align: justify;
}

.modalBorder{
  //background-color: $nav-background !important;
  text-transform: uppercase;
}
.specificDetails{
  text-align: center;;
}
