.row {
  display: flex;
  flex-direction: column;
  border-bottom: solid;
  border-width: $border-width;
  border-color: $border-color;
  min-height: 100%;
  cursor: pointer;
  background: white;
  &:hover {
    background-color: $light-grey;
  }
}

.selected-row {
  @extend .row;
  background-color: $dark-grey;
}

.image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  //border-right: solid;
  border-width: $border-width;
  padding: 10px;
}


.product-card{
  margin: 0 0 2em;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #DFDFDF;
  position: relative;
  vertical-align: top;
  display: inline-block;
  //  width: 200px;
  text-align: center;
}

.row-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 12pt;
  font-weight: bolder;
}
