.row {
  display: flex;
  flex-direction: row;
  border-bottom: solid;
  border-width: $border-width;
  min-width: 100%;
  cursor: pointer;
  &:hover {
    background-color: $light-grey;
  }
}

.selected-row {
  @extend .row;
  background-color: $dark-grey;
}

.image {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-width: $border-width;
}

.descriptive-text {
  text-align: center;
}

.text-title {

}
